extends layout

block content
  .main.container.text-xs-center
    h1 List of Users

  .main.container
    .header
      .flex1 Username
      .flex2 First Name
      .flex3 Last Name
      .flex4 Email Address
      .flex5 Status
      .flex6
      .flex7
      .flex8
    each user in users
      .content
        .flex1= user.userName
        .flex2= user.firstName
        .flex3= user.lastName
        .flex4= user.email
        if user.deleted
          .flex5 Deleted
        else
          .flex5 Active
        .flex6
          span.float-right
            button.btn.btn-xs.btn-info(type='button', onclick='handleEditUserClick(this)', data-userid=user._id) Edit
        .flex7
          span.float-right
            button.btn.btn-xs.btn-warning(type='button', onclick='handleToggleClick(this)', data-userid=user._id) Toggle Status
        .flex8
          span.float-right
            button.btn.btn-xs.btn-danger(type='button', onclick='handleDeleteUserClick(this)', data-userid=user._id) Delete

block scripts
  script
    const myUser=JSON.stringify(users)
